MONGO_URL=mongodb+srv://user:passowrd@cluster0.mlc00ej.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
IMGBB_API=9d80400d745fcc49bc0500959c2c6ebd
REDIS_HOST=redis-0000.029384.samerica-east1-1.gce.redns.redis-cloud.com:00000
REDIS_PASSWORD=2fj5g3A3S3zCFy22dvV229Q7222Wh228
REDIS_PORT=12335
REDIS_USERNAME=default
